.login-background {
  background: rgb(34, 193, 195);
  background: linear-gradient(
    135deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .login-container {
    width: 400px;

    margin: 0 auto;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Thêm box-shadow để form nổi bật hơn */

    .login-content {
      padding: 10px;

      .text-login {
        text-align: center;
        font-weight: 600;
        font-size: 24px;
        padding-top: 10px;
      }
      .login-input {
        margin: 7px 0;

        .custom-input-password {
          position: relative;

          i {
            position: absolute;
            right: 5px;
            top: 10px;
            cursor: pointer;
          }
        }
      }

      .btn-login {
        width: 100%;
        margin: 10px 0;
        height: 35px;
        font-size: 16px;
        color: white;
        border-radius: 15px;
        outline: none;
        border: none;
        background: linear-gradient(
          135deg,
          rgba(34, 193, 195, 1) 0%,
          rgba(253, 187, 45, 1) 100%
        );
        cursor: pointer; /* Thêm con trỏ dạng pointer khi di chuột qua button */
      }
      .forgot-password {
        font-size: 12px;
        text-align: right;
        display: block; /* Đảm bảo span chiếm toàn bộ chiều rộng để text-align có tác dụng */
        cursor: pointer;
        color: #007bff;
      }
      .text-other-login {
        color: #888; /* Làm mờ chữ "Hoặc đăng nhập với:" */
      }
      .social-login {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        i {
          margin: 0 10px;
          cursor: pointer;
          transition: transform 0.2s ease-in-out; /* Thêm hiệu ứng hover */

          &:hover {
            transform: scale(1.1); /* Phóng to nhẹ khi hover */
          }
        }
        .google {
          font-size: 30px;
          background: #c32424;
          border-radius: 50%;
          height: 50px;
          width: 50px;
          display: flex;
          justify-content: center;
          align-items: center;
          color: white;
        }
        .facebook {
          font-size: 30px;
          background: #307aaf;
          border-radius: 50%;
          height: 50px;
          width: 50px;
          display: flex;
          justify-content: center;
          align-items: center;
          color: white;
        }
      }
    }
  }
}
